@import url("./vars.css");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container{
    background-color: #c9c6c6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

img{
    width: 200px;
}

.canales{
    display: flex;
    gap: 35px;
}