/* Imports */
@import url("./vars.css");
@import url("global.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:focus {
    outline: none;
}
::selection {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  overflow: auto;
}
main {
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    place-items: center;
}
picture {
    display: none;
}

/* Login Form  */
.login{
    display: flex;
    padding: 30px;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 90%;
    gap: 25px;
    color: var(--gris);
    border: none;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 5px 5px 15px var(--black-box);
}
.title {
    width: 100%;
    text-align: center;
    color: var(--azulturquesa);
}
.campo-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}
.campo-formulario p {
    font-weight: bold;
    font-size: var(--font-size);
}
.icon {
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: 15%;
    size: 3rem;
}

/* Dynamic class */
.inactive {
    display: none;
}

/* Medias  */
@media (800px < width) {
    .login {
        width: 70%;
    }
}
@media (600px < width) {
    main {
        grid-template-columns: repeat(2,50%);
    }
    picture {
        display: flex;
    }
    .logo {
        width: 100%;
    }
}