/* Imports */
@import url("./vars.css");
@import url("global.css");

/* Desactive default browser style */

.main-container {
    display: flex;
    min-height: 100vh;
    font-family: "Arial", sans-serif
}
.login-imagen-container {
    flex: 1;
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  
.login-fondo-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
  
.login-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
  
.overlay-login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.contenedor-login {
    position: relative;
    z-index: 2;
    padding: 2rem;
    max-width: 80%;
    margin-bottom: 15rem;
    text-align: center;
}
  
.texto-login {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
}
  
.subtexto-login {
    font-size: 0.875rem;
}

/* Login Form  */
.login{
    display: flex;
    padding: 30px;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 90%;
    gap: 25px;
    color: var(--gris);
    border: none;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 5px 5px 15px var(--black-box);
}
.title {
    width: 100%;
    text-align: center;
    color: var(--azulturquesa);
}
.campo-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}
.campo-formulario p {
    font-weight: bold;
    font-size: var(--font-size);
}
.icon {
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: 15%;
    size: 3rem;
}

/* Dynamic class */
.inactive {
    display: none;
}

/* Medias  */
@media (800px < width) {
    .login {
        width: 70%;
    }
}
@media (600px < width) {
    .main-container {
        grid-template-columns: repeat(2,50%);
    }
    .img-container {
        display: flex;
    }
    .logo {
        width: 100%;
    }
}