/* Imports */
@import url("../vars.css");
@import url("../global.css");
  
/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background-color: white;
    border-radius: 0.6rem;
    width: 90%;
    max-width: 80vw;
    max-height: 90vh;
    overflow-y: auto;
    padding: calc(var(--font-size) + 0.5rem);
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.15);
}
  
.modal-close {
    position: absolute;
    top: var(--font-size);
    right: var(--font-size);
    background: none;
    border: none;
    font-size: var(--font-size-title);
    cursor: pointer;
    color: var(--gris-oscuro);
}
  
h2 {
    color: var(--verde-aguamarina);
    margin-bottom: 1.3rem;
    font-size: calc(var(--font-size) + 0.4rem);
    font-weight: bold;
}
  
.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
    margin-bottom: 1.3rem;
}
  
.form-group {
    margin-bottom: 0.8rem;
}
  
label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: var(--font-size);
    color: var(--gris-oscuro);
}
  
.form-input {
    width: 100%;
    padding: 0.7rem 0.8rem;
    border: 1px solid var(--gris-medio);
    border-radius: 0.2rem;
    font-size: var(--font-size);
    transition: border 0.2s ease;
}
  
.form-input:focus {
    outline: none;
    border-color: var(--azul-turquesa);
    box-shadow: 0 0 0 0.1rem rgba(0, 188, 212, 0.1);
}
  
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.9rem;
    padding-top: 1rem;
    border-top: 1px solid var(--gris-medio);
}

.cancel-button, .save-button{
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    font-size: var(--font-size);
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}
.cancel-button {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}
  
.cancel-button:hover {
    background-color: var(--gris-medio);
}
  
.save-button {
    background-color: var(--azul-turquesa);
    color: white;
}
  
.save-button:hover {
    background-color: var(--verde-aguamarina);
}
  
@media (width > 700px) {
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width > 1000px) {
    .form-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (width > 2000px) {
    .form-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}